<div class="service-intro m-4">
  <h1 class="mb-4"><%= @service.title %></h1>
  <%= cl_image_tag @service.photo.key ? @service.photo.key : ('g9j2kjmajzgz1en4j20h42h3e8w3'), class: "mb-4", height: 450, width: 700, crop: :fill %>
</div>
<div class="service-description m-4 border-bottom">
  <h2>About This Gig</h2>
  <p class="pt-4 pb-4"><%= @service.description %></p>
</div>
<div class="seller m-4 pt-4">
  <h2>About The Seller</h2>
  <div class="seller-tag">
    <div class="d-flex gap-3 mt-4 mb-4">
      <div class="seller-avatar">
        <%= cl_image_tag @service.seller.photo.key ? @service.seller.photo.key : ("tg9fkn8640h57hawm7qlaxuj1a46") , class: "avatar-large"%>
      </div>
      <div class="seller-details">
        <%= link_to @service.seller.email.match(/.+(?=@)/), user_path %>
        <a href="#" class="d-block btn btn-transparent mt-3">Contact Me</a>
      </div>
    </div>
    <div class="seller-details border d-flex flex-wrap justify-content-between gap-3 m-1 p-4">
      <ul class="from mt-3">
        <li>From</li>
        <li><strong><%= @service.seller.location %></strong></li>
      </ul>
      <ul class="member-since mt-3">
        <li>Member since</li>
        <li><strong>Jan 2014</strong></li>
      </ul>
      <ul class="response-time mt-3">
        <li>Avg. response time</li>
        <li><strong>2 hours</strong></li>
      </ul>
    </div>
  </div>
</div>
