<div class="service-intro m-4">
  <h1 class="mb-4"><%= @service.title %></h1>
  <% if @service.photo.key%>
    <%= cl_image_tag @service.photo.key, class: "mb-4", height: 450, width: 700, crop: :fill %>
  <% else %>
    <%= image_tag('https://res.cloudinary.com/drftmp0s5/image/upload/v1678852787/development/g9j2kjmajzgz1en4j20h42h3e8w3.jpg', height: 450, width: 700) %>
  <% end %>
</div>
<div class="service-description m-4 border-bottom">
  <h2>About This Gig</h2>
  <p class="pt-4 pb-4"><%= @service.description %></p>
</div>
<div class="seller m-4 pt-4">
  <h2>About The Seller</h2>
  <div class="seller-tag">
    <div class="d-flex gap-3 mt-4 mb-4">
      <div class="seller-avatar">
        <% if @service.seller.photo.key %>
          <%= cl_image_tag @service.seller.photo.key, class: "avatar-large" %>
        <% else %>
          <%= image_tag('https://res.cloudinary.com/drftmp0s5/image/upload/v1678852728/development/eikdtlh3ky8vfdi8cm216xts79e9.jpg', class: "avatar-large") %>
        <% end %>
      </div>
      <div class="seller-details">
        <%= link_to @service.seller.username, user_path(@service.seller) %>
        <a href="#" class="d-block btn btn-transparent mt-3">Contact Me</a>
      </div>
    </div>
    <div class="seller-details border d-flex flex-wrap justify-content-between gap-3 m-1 p-4">
      <ul class="from mt-3">
        <li>From</li>
        <li><strong><%= @service.seller.location %></strong></li>
      </ul>
      <ul class="member-since mt-3">
        <li>Member since</li>
        <li><strong>Jan 2014</strong></li>
      </ul>
      <ul class="response-time mt-3">
        <li>Avg. response time</li>
        <li><strong>2 hours</strong></li>
      </ul>
    </div>
  </div>
</div>
