<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="service-intro m-4">
        <h1 class="mb-4"><%= @service.title %></h1>
        <%= cl_image_tag @service.photo.key, class: "mb-4", height: 450, width: 700, crop: :fill %>
      </div>
      <div class="service-description m-4 border-bottom">
        <h2>About This Gig</h2>
        <p class="pt-4 pb-4"><%= @service.description %></p>
        <%#= @service.price/100 %>
        <%#= @service.delivery_time %>
      </div>

      <div class="seller m-4 pt-4">
        <h2>About The Seller</h2>
         <div class="seller-tag d-flex gap-3 mt-4 mb-4">
          <div class="seller-avatar">
            <%= cl_image_tag @service.seller.photo.key, class: "avatar-large"%>
          </div>
          <div class="seller-details">
            <%= link_to @service.seller.email.match(/.+(?=@)/), user_path %>
            <p><i class="fa-solid fa-location-dot"></i> <%= @service.seller.location %></p>
            <a href="#" class="btn btn-transparent">Contact Me</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
