<div class="d-flex justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.6); position: absolute; top: 0; left: 0; height: 100vh; width: 100%; z-index: 1">
  <div class="bg-white pt-4 pb-2" style="width: 420px; border-radius: 8px; box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);">
    <div class="mx-4">
      <h2 class="text-center fw-bold fs-3 mb-4">Join Fiverr</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: false,
                      placeholder: 'Enter your email',
                      input_html: {
                        autocomplete: "email",
                        class: "bg-white py-2"
                      }%>
          <%= f.input :password,
                      required: true,
                      label: false,
                      placeholder: 'Enter your password',
                      input_html: {
                        autocomplete: "new-password",
                        class: "bg-white py-2"
                      } %>
          <%= f.input :password_confirmation,
                      required: true,
                      label: false,
                      placeholder: 'Confirm your password',
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: {
                        autocomplete: "new-password",
                        class: "bg-white py-2"
                      } %>
          <%= f.input :location,
                      required: true,
                      label: false,
                      placeholder: 'Enter your location',
                      input_html: {
                        autocomplete: "location",
                        class: "bg-white py-2"
                      } %>
        </div>

        <div class="form-actions mb-3">
          <%= f.button :submit, "Continue", class: "btn btn-green w-100" %>
        </div>

        <p class="text-center my-3 text-secondary">By joining I agree to receive emails from Fiverr.</p>
      <% end %>
    </div>

    <div class="w-100 border border-bottom border-muted"></div>
    <p class="text-center my-3 text-secondary">Already a member? <%= link_to "Sign in", new_registration_path(resource_name), class: "link-green" %></p>
  </div>
</div>

<%#= render "devise/shared/links" %>
