<div class="card-profile">
  <div class='user-profile-info'>
    <div class="d-flex justify-content-between">
      <div>
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-heart"></i>
      </div>
      <div class="img-wrapper">
        <%= cl_image_tag @user.photo.key, class: 'avatar-xl' %>
        <p class='text-center pt-2'><%= @username %></p>
      </div>
      <div>
        <% if @online %>
          <p class="online">&#183 Online</p>
        <% else %>
          <p class="offline">&#183 Offline</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class='btn btn-green w-100'>Contact Me</div>
  <div class="user-stats-wrapper">
    <ul class='user-stats'>
      <li><span><i class="fa-sharp fa-solid fa-location-dot"></i> From</span> <strong><%= @user.location %></strong></li>
      <li><span><i class="fa-solid fa-user"></i> Member since</span> <strong><%= @month_created %> <%= @user.created_at.year %></strong></li>
      <li><span><i class="fa-regular fa-clock"></i> Avg. Response Time</span></li>
    </ul>
  </div>
</div>
