 
<div class="card-profile">
  <div class='user-profile-info'>
    <div class="d-flex justify-content-between">
      <div>
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-heart"></i>
      </div>
      <div class="img-wrapper">
        <img class='avatar-xl' src="https://www.w3schools.com/howto/img_avatar.png">
        <p class='text-center'><%= @username %></p>
      </div>
      <div>
        <p class="online-status"><%= @online ? 'Online': 'Offline' %></p>
      </div>
    </div>
  </div>
  <div class='btn btn-green w-100'>Contact Me</div>
  <div class="user-stats-wrapper">
    <ul class='user-stats'>
      <li><span><i class="fa-sharp fa-solid fa-location-dot"></i> From</span> <strong><%= @user.location %></strong></li>
      <li><span><i class="fa-solid fa-user"></i> Member since</span> <strong><%= @month_created %> <%= @user.created_at.year %></strong></li>
      <li><span><i class="fa-regular fa-clock"></i> Avg. Response Time</span></li>
    </ul>
  </div>
