<div class="card">
  <%= cl_image_tag service.photo.key ? service.photo.key : ('g9j2kjmajzgz1en4j20h42h3e8w3'), class: 'card-img-top'%>
  <div class="card-body">
    <div class='pb-2'>
      <%= cl_image_tag user.photo.key ? user.photo.key : ('tg9fkn8640h57hawm7qlaxuj1a46'), class: 'avatar-xs' %>
      <span><%= user.username %></span>
    </div>
    <p class="card-text"><%= service.title %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-heart"></i>
      </div>
      <ul>
        <li class='text-small'>STARTING AT</li>
        <li>SGD <%= service.price/100 %></li>
      </ul>
    </li>
  </ul>
</div>
