<div class="card">
  <a href=<%= service_path(service) %>>
    <%= cl_image_tag service.photo.key, class: 'card-img-top'%>
  </a>
  <div class="card-body">
    <div class='pb-2'>
      <%= cl_image_tag user.photo.key ? user.photo.key : ('tg9fkn8640h57hawm7qlaxuj1a46'), class: 'avatar-xs' %>
      <a class="text-decoration-none text-dark" href=<%= user_path(user) %> ><%= user.username %></a>
    </div>
    <a class="text-decoration-none text-dark"href=<%= service_path(service) %>>
      <p class="card-text"><%= service.title %></p>
    </a>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-heart"></i>
      </div>
      <ul>
        <li class='text-small'>STARTING AT</li>
        <li>SGD <%= service.price/100 %></li>
      </ul>
    </li>
  </ul>
</div>
