<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>Status: <%= @online ? 'online': 'offline' %></p>
<div class="container">
  <%# profile card starts here %>
  <div class="card-profile">
    <div class='text-center'>
      <img class='avatar-xl' src="https://www.w3schools.com/howto/img_avatar.png">
      <p><%= @username %></p>
      <button style='border: 1px solid grey'>Contact Me</button>
    </div>
    <div class="user-stats-wrapper">
      <ul class='user-stats'>
        <li><span><i class="fa-sharp fa-solid fa-location-dot"></i> From</span> <strong><%= @user.location %></strong></li>
        <li><span><i class="fa-solid fa-user"></i> Member since</span> <strong><%= @month_created %> <%= @user.created_at.year %></strong></li>
        <li><span><i class="fa-regular fa-clock"></i> Avg. Response Time</span></li>
      </ul>
    </div>
    <%# profile card ends here %>
  </div>
