<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>username: <%= @user.email %></p>
<p>From <%= @user.location %></p>
<p>Member since <%= @month_created %> <%= @user.created_at.year %></p>
<p>Status: <%= @online ? 'online': 'offline' %></p>
