<div class="nav-wrapper bg-white">
  <nav class="px-4 d-flex justify-content-between navbar navbar-expand-lg bg-white">
    <a class="navbar-brand logo" href=<%= user_signed_in? ? services_path : root_path %>><%= image_tag("FBB-logo.svg") %></a>
    <%= render 'shared/search_form' %>
    <ul class="navbar-nav d-flex">
      <li class="nav-item">
        <a class="nav-link text-navy" href="#">Fiverr Business</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa-regular fa-bell"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa-regular fa-envelope"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa-regular fa-heart"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Orders</a>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="/users/<%= current_user.id %>">
            <% if current_user.photo.key%>
              <%= cl_image_tag current_user.photo.key, class: 'avatar-xs' %>
            <% else %>
              <%= image_tag('https://res.cloudinary.com/drftmp0s5/image/upload/v1678852728/development/eikdtlh3ky8vfdi8cm216xts79e9.jpg', class: 'avatar-xs') %>
            <% end %>
          </a>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-transparent-green" %>
      <% else %>
        <button type="button" class="btn nav-link" style="border: none; color: black" data-bs-toggle="modal" data-bs-target="#loginModal">Sign in</button>
        <button type="button" class="btn nav-link btn-transparent-green" data-bs-toggle="modal" data-bs-target="#signupModal">Join</button>
      <% end %>
    </ul>
  </nav>
</div>
<div class="nav-wrapper px-0 bg-light" >
  <div class="d-flex justify-content-evenly navbar navbar-expand-lg navbar-light mt-0 mb-0 p-0">
    <ul class="navbar-nav d-flex">
      <% Service::CATEGORIES.first(8).each do |category| %>
        <li class="nav-category mx-3 py-2">
          <%= link_to category, services_path(category: category), class: "btn-category-nav" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
