<div class="d-flex justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.6); position: absolute; top: 0; left: 0; height: 100vh; width: 100%; z-index: 1">
  <div class="bg-white pt-4 pb-2" style="width: 400px; border-radius: 8px; box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);">
    <div class="mx-4">
      <h2 class="text-center fw-bold fs-3 mb-5">Sign In to Fiverr</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      label: false,
                      placeholder: 'Email',
                      input_html: {
                        autocomplete: "email",
                        class: "bg-white py-2"
                      } %>
          <%= f.input :password,
                      required: false,
                      label: false,
                      placeholder: 'Password',
                      input_html: {
                        autocomplete: "current-password",
                        class: "bg-white py-2"
                      } %>
        </div>

        <div class="form-actions mb-3">
          <%= f.button :submit, "Continue", class: "btn btn-green w-100" %>
        </div>

        <div class="d-flex justify-content-between">
          <div class="form-inputs">
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: "link-green" %>
        </div>

      <% end %>
    </div>

    <div class="w-100 border border-bottom border-muted"></div>
    <p class="text-center my-3 text-secondary">Not a member yet? <%= link_to "Join now", new_registration_path(resource_name), class: "link-green" %></p>
  </div>
</div>

<%#= render "devise/shared/links" %>
