<div class="payment-service-card">
  <div class="card-profile">
    <div class="service-price d-flex justify-content-between gap-4 pb-4 mb-4 border-bottom">
      <%= cl_image_tag @service.photo.key, width: 100, height: 60 %>
      <h3><%= @service.title %></h3>
    </div>
    <div class="service-price d-flex justify-content-between">
      <h3><strong>Web application basic</strong></h3>
      <h3 id="price">SGD <%= @service.price/100 %></h3>
    </div>
    <ul class="list-unstyled border-bottom pb-4">
      <li><i class="fa-solid fa-check"></i> Responsive Design</li>
      <li><i class="fa-solid fa-check"></i> Source File</li>
    </ul>
    <p class="pt-2 pb-4 mb-4 border-bottom">Enter Promo Code</p>
    <div class="service-price d-flex justify-content-between">
      <h3><strong>Total Price</strong></h3>
      <h3 id="price">SGD <%= @service.price/100 %></h3>
    </div>
     <div class="service-price d-flex justify-content-between">
      <p>Total Delivery Time</p>
      <p><%= @service.delivery_time %> Days</p>
    </div>
    <div class="read-only-form">
      <%= simple_form_for [@service, @offer] do |f| %>
            <%= f.input :final_price, as: :hidden, input_html: {:value => @service.price/100, readonly: true} %>
            <%= f.input :final_delivery_time, as: :hidden, input_html: {:value => @service.delivery_time, readonly: true} %>
            <%= f.input :description , as: :hidden, input_html: {:value => @service.description, readonly: true} %>
            <%= f.button :submit, value: "Confirm", class: "btn btn-lg btn-dark w-100" %>
          <% end %>
    </div>
  </div>
</div>
