<h1>OFFERS#NEW</h1>

<%= simple_form_for [@service, @offer] do |f| %>
  <%= f.input :final_price, input_html: {:value => @service.price, disabled: true} %>
  <%= f.input :final_delivery_time, input_html: {:value => @service.delivery_time, disabled: true} %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>
