<div id="offers-new" class="container">
  <div class="row">
    <div class="col-7">
      <div class="payment-details border">

        <div class="payment-header bg-secondary" style="--bs-bg-opacity: .05">
          <h1>Payment Options</h1>
        </div>

        <div class="payment-options border-top border-bottom">
          <input class="form-check-input" type="radio" name="creditCard" id="creditCard" checked>
          <label class="form-check-label" for="creditCard">
            Credit & Debit Cards <i class="fa-brands fa-cc-visa"></i> <i class="fa-brands fa-cc-mastercard"> <i class="fa-brands fa-cc-diners-club"></i> </i> <i class="fa-brands fa-cc-discover"></i> <i class="fa-brands fa-cc-jcb"></i>
          </label>
        </div>

        <div class="credit-card-form">
          <form class="form-inline bg-secondary" style="--bs-bg-opacity: .05">
            <div class="d-flex gap-5 mb-5">
              <div class="form-group form-input-long">
                <label for="card-number">Card Number</label>
                <input type="text" class="form-control" id="card-number">
              </div>
              <div class="form-group form-input-long d-flex gap-2">
                <div class="exp">
                  <label for="exp-date">Expiration Date</label>
                  <input type="text" class="form-control" id="exp-date" placeholder="MM/YY">
                </div>
                <div class="cvc">
                  <label for="cvc">Security Code</label>
                  <input type="text" class="form-control" id="cvc">
                </div>
              </div>
            </div>

            <div class="d-flex gap-5 mb-5">
              <div class="form-group form-input-long">
                <label for="first-name">First Name</label>
                <input type="text" class="form-control" id="first-name">
              </div>

              <div class="form-group form-input-long">
                <label for="last-name">Last Name</label>
                <input type="text" class="form-control" id="last-name">
              </div>
            </div>

            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="default-card">
              <label class="form-check-label" for="default-card">save as default</label>
            </div>
          </form>
        </div>
        <div class="payment-options">
          <input class="form-check-input radio" type="radio" name="paypal" id="paypal">
          <label class="form-check-label" for="paypal">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/39/PayPal_logo.svg" alt="">
          </label>
        </div>

      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4">
      <%= render "checkout-card" %>
          <%= simple_form_for [@service, @offer] do |f| %>
            <%= f.input :final_price, data: { placeholder: @service.price/100 }, input_html: {:value => @service.price/100, readonly: true} %>
            <%= f.input :final_delivery_time, input_html: {:value => @service.delivery_time, readonly: true} %>
            <%= f.input :description %>
            <%= f.submit %>
          <% end %>
    </div>
  </div>
</div>
